angulator .resourcedoc {  }
angulator .resourcedoc.unrequested { color: blue; }
angulator .resourcedoc.fetched { color: lime; }
angulator .resourcedoc.requested { color: yellow; }
angulator .resourcedoc.failed { color: red; }

angulator .angulator-resource.expand > div > .resource-label { font-size: 130%; }
angulator .angulator-resource .angulator-resource { background-color: #E8E8E8; }
angulator .angulator-resource .angulator-resource .angulator-resource { background-color: white; }
angulator .angulator-resource .angulator-resource .angulator-resource .angulator-resource { background-color: #E8E8E8; }
angulator .angulator-resource .angulator-resource .angulator-resource .angulator-resource .angulator-resource { background-color: white; }
angulator .angulator-resource.literal { color: gray; }
angulator .angulator-resource td { vertical-align: top; }

angulator .current-goto { background-color: lime; }

angulator a { color: #337ab7; }
angulator a:hover, a:focus { text-decoration: underline; }
