<!DOCTYPE html>

<html>
  <head>
    <meta charset='utf-8' />
    <title>Angulator (AngulaRDF demo)</title>
    <script src='vendor/angular.js'></script>
    <script src='vendor/rdflib.js'></script>
    <script src='modules/angulardf/script.js'></script>
    <script src='modules/angulator/script.js'></script>
    <script src='modules/angulator-resource/script.js'></script>
    <link href="angulator.css" rel='stylesheet' />
    <style>
        body { padding: 1em; }
        /* it seems that bootstrap does this for most other applications. */
        a[ng-click] { color: blue; text-decoration: underline; ; cursor: pointer; }
        a.add-to-outliner:before { content:"↗ " }
    </style>
  </head>
  <body ng-app="angulator" ng-init="demos={}">
    <div angulardf angulardf-proxy-template="https://databox.me/,proxy?uri={uri}">
      <div ng-controller="angulator as firstangulator" url-to-go-to="http://www.w3.org/People/EM/contact#me">
        <angulator instance=firstangulator></angulator>

        <h2>Usage</h2>
        <p>Enter resources of interest using the form above or the links below marked with the ↗ symbol. Entries can be folded or collapsed using the checkbox in their line. The colored dot next to it indicates whether it has been tried to dereference the URI; click it to start that process (hold Control to force a reload, and Shift to send credentials).</p>
        <p>Items can be removed from the list of inspected resources using the × link; resources "under" them can be refocused to become top-level items using the ↰ link.</p>
        <p>Possible interesting starting points:
          <a class="add-to-outliner" ng-click="firstangulator.newToplevelSym('http://xmlns.com/foaf/0.1/name')">Any FOAF term</a>,
          <a class="add-to-outliner" ng-click="firstangulator.newToplevelSym('http://data.semanticweb.org/organization/semantic-web-science-association')">the Semantic Web Science Association</a>,
          <a class="add-to-outliner" ng-click="firstangulator.newToplevelSym('http://purl.org/dc/terms/')">the DCTERMS vocabulary</a>, and the
          <a class="add-to-outliner" ng-click="firstangulator.newToplevelSym('https://pypi.python.org/pypi?:action=doap&name=Flask&version=0.10.1')">DOAP record of Flask</a> (not very descriptive by itself, but provides data <a class="add-to-outliner" ng-click="firstangulator.newToplevelSym('http://github.com/mitsuhiko/flask/')">about the Flask website</a> if inverse statements are enabled).
          <a class="add-to-outliner" ng-click="firstangulator.newToplevelSym('http://dbpedia.org/resource/Scanning_electron_microscope')">Any DBPedia resource</a> (<a class="add-to-outliner" ng-click="firstangulator.newToplevelSym('http://www.productontology.org/id/Scanning_electron_microscope')">or a product ontology record thereof</a>) is a good entry point as well (beware of <a class="add-to-outliner" ng-click="firstangulator.newToplevelSym('http://imgs.xkcd.com/comics/the_problem_with_wikipedia.png')">the problem with wikipedia</a>, as <a class="add-to-outliner" ng-click="firstangulator.newToplevelSym('http://data.totl.net/xkcd.rdf')">totl.net's description</a>), but loading larger DBpedia entries can easily bring the current implementation to the browser timeout limits.
        </p>
        <p>If you want to see URI smushing in action (eg. on <a class="add-to-outliner" ng-click="firstangulator.newToplevelSym('http://www.w3.org/People/Berners-Lee/card#i')">Tim Berners-Lee</a> and <a class="add-to-outliner" ng-click="firstangulator.newToplevelSym('http://data.semanticweb.org/person/tim-berners-lee')">his page on Semantic Web Dog Food</a>), you'll need to metadata about <a class="add-to-outliner" ng-click="firstangulator.newToplevelSym('http://xmlns.com/foaf/0.1/mbox_sha1sum')">metadata about the connecting property</a> first!</p>
        <h2>Source</h2>
        <p>Source and build instructions for this tool are available <a href="https://gitlab.com/energyharvesting/angulardf">at the angulardf project page</a>.</p>
        <h2>Scoping demo</h2>
        <p><label><input type="checkbox" ng-model="demos.any"/>Show more options related to scoping</label></p>
        <div ng-if="demos.any">
          <hr />
          <p><label><input type="checkbox" ng-model="demos.seconddirective" />Show another angulator directive on the same angulator instance</label></p>
          <angulator instance=firstangulator ng-if="demos.seconddirective"></angulator>
        </div>
      </div>
      <div ng-if="demos.any">
        <hr />
        <div ng-controller="angulator as secondangulator" url-to-go-to="http://www.w3.org/People/EM/contact#me">
          <label><input type="checkbox" ng-model="demos.show_second_angulator" />Show second angulator</label>
          <angulator instance=secondangulator ng-if="demos.show_second_angulator"></angulator>
        </div>
      </div>
    </div>
    <div angulardf ng-if="demos.any">
      <hr />
      <div ng-controller="angulator as thirdangulator">
        <label><input type="checkbox" ng-model="demos.show_third_angulator" />Show independent angulator</label>
        <angulator instance=thirdangulator ng-if="demos.show_third_angulator"></angulator>
      </div>
    </div>
  </body>
</html>
