<form ng-submit="instance.newToplevelSym(instance.urlToGoTo)">
        <p><label>URI: <input ng-model="instance.urlToGoTo" size="80" /></label> <input type="submit" value="Add to Outliner" /></p>
</form>

<angulator-resource object="parentToplevel" ng-repeat="parentToplevel in instance.toplevels"></angulator-resource>

<hr />

<p><label><input type="checkbox" ng-model="instance.includeInverse"> Show inverse statements</label></p>
<p><label><input type="checkbox" ng-model="instance.includeWhyData"> Show contained topics</label> <small>Note that this can be misleading when a pseudoproxy needs to be used to circumvent CORS restrictions.</small></p>
<p><label><input type="checkbox" ng-model="instance.showRaw"> Show raw statements</label></p>
<ul ng-if="instance.showRaw">
        <li ng-repeat="why in instance.ardf.whys()"><input type="checkbox" ng-model="expand"> <a ng-click="instance.newToplevel(why)">{{ instance.label(why) }}</a>:<ul ng-if="expand">
          <!-- stmtnum even works if statements are inserted in the store twice -->
          <li ng-repeat="(stmtnum, stmt) in instance.ardf.graph.statementsMatching(undefined, undefined, undefined, why) track by stmt.toNT() + stmtnum"><a ng-repeat="(partnum, part) in [stmt.subject, stmt.predicate, stmt.object] track by partnum" ng-click="instance.newToplevel(part)">{{ part.toNT() }}</a> .</li>
        </ul>
</ul>
